{
  "extends": "airbnb-base",
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": false
  },
  "rules": {
    "no-param-reassign": ["off"],
    "no-shadow": ["off"],
    "no-plusplus": ["off"],
    "camelcase": ["off"],
    "no-template-curly-in-string": ["off"],
    "no-nested-ternary": ["off"],
    "import/no-unresolved": ["off"],
    "import/extensions": ["off"],
    "max-len": ["off"],
    "import/prefer-default-export": ["off"],
    "import/no-extraneous-dependencies" : ["off"],
    "no-underscore-dangle": 0,
    "class-methods-use-this": ["off"],
    "no-use-before-define": ["error", {
      "functions": false,
      "classes": false
    }],
    "arrow-parens": ["error", "as-needed", {
      "requireForBlockBody": false
    }]
  }
}
